Pflanzensensor/src/configs/config_pflanzensensor.h
Dokumentation/Workshop\ Unterlagen/2\ Tage/*
Dokumentation/Workshop\ Unterlagen/3\ Tage/*
logs/*
.github/*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# platformio
.pio

# vscode
.vscode

# python .venv
.venv
